<div class="cell1 cell colspan6" style="margin-bottom: 100px; padding-bottom:100px; margin-top:50px">  
    <div class="panel">
        <div class="heading" style="height: auto">
            <span class="icon mif-home"></span>
            
            <span class="title" >{{n1.datos.fecha_hora}}</span>
            <h1 style="padding-left: 20px">{{n1.datos.titulo}}</h1>
        </div>
        <div class="content padding10">
            {{n1.datos.descripcion}}
        </div>
        <div class="rating" data-role="rating" data-value="{{n1.datos.ranking}}">

        </div>
    </div>
</div>