extends layout
block content  
  #Container7.row(style='height:83%; width:100% ;min-height:255px; ')      
    div#cell1.cell.colspan12(ng-controller="homeCtrl as vm")
      h1 {{vm.pageHeader.title}}
      