extends ../_bootstrap
append styles
	// Custom styles for this template
	link(href='../css/starter-template.css', rel='stylesheet')
	link(href="../css/carousel.css", rel="stylesheet")
block body
	+navbar-fixed("ntpDeporteParaTodos","navbar","inverse")
		+nav_item("#","active") Inicio
		+nav_item("/about") Acerca de Nosotros
		+nav_item("/lnoticias") Noticias
		+nav_item("#") Ingreso
		+nav_item("#") Fotos
		+nav_item("#") Categoria de Deportes
		+nav_item("#") Contactanos
 
	.container
		.starter-template
			h1 NTP Deportes Para Todos
			p.lead
				| Esta página esta orientada a mostrar las distintas disciplinas en deportes, permitiendo al usuario poder interactuar con sus amigos y crear un deporte, teniendo un asesoramiento de los demas integrantes que les interese el deporte.
				br
				|  Fundadores: Hector Ramirez,Fabiola Carritero, Henrry Arias.
	

